<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Timetime</title>
</head>
<body><i><pre>
<!--一致科技开发团队的官方网站-->
<h1><strong><big>
 			Consistency Techonol
			     一致科技                      
</big></strong></h1>
<h2>Slogn：直致更好的未来</h2>
<hr>
<h2>我们是谁?</h2>
<p>一群桀骜不驯的叛逆者</p>
<hr>
<h2>我们从哪里来?</h2>
<p><sub>未</sub><sup>来</sup><br><br>三百万年</p>
<hr>
<h2>我们要到哪里去?</h2>
<p>下一个未来</p>
<hr>
<h2>关于我们的产品</h2>
<p><strong><big>Timetime</big></strong><br><br>距离正式发布日还有21天</p>
<img src ="wyf.jpeg" width="640"  height="427">
<br/>
<br/>
<address>
本网站的所有权归一致科技开发团队所有。<br>
如有任何疑问，可通过我们的官方微博联系我们：<a href="https://weibo.com/u/7382635593">PA-王译锋</a><br>
</address>


</pre><i><body>
</html> 
 
